.app_row {
  display: flex;
}
.app_col {
  width: 100%;
  margin: 2rem 0;
  position: relative;
  overflow: hidden;
}

.col_gap_large {
  column-gap: 10rem;
}

.col_gap_medium {
  column-gap: 3rem;
}
