.app_body {
  height: 75vh;
  background: #ffffff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.app_conainer {
  width: 50%;
  height: 100%;
  padding: 1rem 0;
}
